In [31]:
import pandas as pd

In [32]:
# Read the CSV file
df = pd.read_csv('/Users/apple/Desktop/Work/Ascent/bulk-email-sender/prospects-email.csv', 
                 skiprows=1,  # Skip the title row
                 usecols=[1,2,3,4],  # Only use columns with actual data
                 names=['COMPANY_NAME', 'DESIGNATION', 'PHONE_NUMBER', 'EMAIL'],  # Define column names
                 na_values=[''])  # Convert empty strings to NaN

# Clean the data
df = df.dropna(subset=['EMAIL']) 
df = df.reset_index(drop=True) 

print("First few rows of the dataframe:")
print(df.head().to_markdown())
print("\nDataframe info:")
print(df.info())

First few rows of the dataframe:
|    | COMPANY_NAME    | DESIGNATION                   | PHONE_NUMBER    | EMAIL                       |
|---:|:----------------|:------------------------------|:----------------|:----------------------------|
|  0 | COMPANY NAME    | DESIGNATION                   | PHONE NUMBER    | EMAIL ADRESS                |
|  1 | Bidco Africa    | regional sales head           | +254 67 2821000 | saurabh.suman@bidco-oil.com |
|  2 | CCBA kenya      | country lead-Jennifer mbindyo | (011) 848-2600  | jmbindyo@ccbagroup.com      |
|  3 | CIC Group       | General manager sales         | +254 703 099120 | njerenga@cic.co.ke          |
|  4 | BRITAM HOLDINGS | CHAIRMAN                      | nan             | kmuchiru@britam.com         |

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COMPANY_NAME  89 non-null     object
 1   DESIGNATION   118 non-null    object
 2   PHONE_NUMBER  86 non-null     object
 3   EMAIL         128 non-null    object
dtypes: object(4)
memory usage: 4.1+ KB
None

In [33]:
df = df.iloc[1:].reset_index(drop=True)
df.head()

,COMPANY_NAME,DESIGNATION,PHONE_NUMBER,EMAIL
0,Bidco Africa,regional sales head,+254 67 2821000,saurabh.suman@bidco-oil.com
1,CCBA kenya,country lead-Jennifer mbindyo,(011) 848-2600,jmbindyo@ccbagroup.com
2,CIC Group,General manager sales,+254 703 099120,njerenga@cic.co.ke
3,BRITAM HOLDINGS,CHAIRMAN,NaN,kmuchiru@britam.com
4,LIBERTY INSURANCE,head of customer experience,+254 711 028000,angela.rarieya@libertylife.co.ke

In [34]:
df_prospects_email = df[["EMAIL"]]
df_prospects_email.head()

                              EMAIL
0       saurabh.suman@bidco-oil.com
1            jmbindyo@ccbagroup.com
2                njerenga@cic.co.ke
3               kmuchiru@britam.com
4  angela.rarieya@libertylife.co.ke

In [35]:
df_prospects_email.isna().sum()

EMAIL    0
dtype: int64

In [36]:
df_prospects_email.loc[:, "EMAIL"] = df_prospects_email["EMAIL"].str.strip().str.lower()
df_prospects_email.head()

                              EMAIL
0       saurabh.suman@bidco-oil.com
1            jmbindyo@ccbagroup.com
2                njerenga@cic.co.ke
3               kmuchiru@britam.com
4  angela.rarieya@libertylife.co.ke

In [37]:
df_prospects_email = df_prospects_email.rename(columns={"EMAIL": "Emails"})
df_prospects_email.columns

Index(['Emails'], dtype='object')

In [38]:
df_prospects_email.duplicated().sum()

np.int64(0)

In [39]:
df_prospects_email["cc"] = "info@ascent-institute.com"
df_prospects_email.head()

                             Emails                         cc
0       saurabh.suman@bidco-oil.com  info@ascent-institute.com
1            jmbindyo@ccbagroup.com  info@ascent-institute.com
2                njerenga@cic.co.ke  info@ascent-institute.com
3               kmuchiru@britam.com  info@ascent-institute.com
4  angela.rarieya@libertylife.co.ke  info@ascent-institute.com

In [40]:
df_prospects_email.shape

(127, 2)

In [41]:
df_prospects_email.to_csv('prospects-email-cleaned.csv', index=False)

In [42]:
df_governance = pd.read_csv("governance-emails.csv")
df_governance["cc"] = "info@ascent-institute.com"
df_governance.head()

                              EMAILS                          cc
0                     info@cargen.com  info@ascent-institute.com
1  elizabeth@charteredengineering.com  info@ascent-institute.com
2             info@firstlenders.co.ke  info@ascent-institute.com
3            amina@blackwoodhodge.com  info@ascent-institute.com
4             sales@hydromaticsea.com  info@ascent-institute.com

In [43]:
df_governance = df_governance.rename(columns={"EMAILS": "Emails"})
display(df_governance.head())

                              EMAILS                          cc
0                     info@cargen.com  info@ascent-institute.com
1  elizabeth@charteredengineering.com  info@ascent-institute.com
2             info@firstlenders.co.ke  info@ascent-institute.com
3            amina@blackwoodhodge.com  info@ascent-institute.com
4             sales@hydromaticsea.com  info@ascent-institute.com

In [44]:
df_governance.to_csv('governance-email-cleaned.csv', index=False)

# New emails

In [45]:
df_emails_new = pd.read_csv("emails-new.csv")
df_emails_new["cc"] = "info@ascent-institute.com"
print(df_emails_new.columns)
print(df_emails_new.head().to_markdown())

Index(['Emails', 'cc'], dtype='object')
|    | Emails                   | cc                        |
|---:|:-------------------------|:--------------------------|
|  0 | swakiomaghanga@gmail.com | info@ascent-institute.com |
|  1 | nyonesaj12@yahoo.com     | info@ascent-institute.com |
|  2 | paulsimiyu74@gmail.com   | info@ascent-institute.com |
|  3 | mutiemota@gmail.com      | info@ascent-institute.com |
|  4 | velentiah80@yahoo.com    | info@ascent-institute.com |

In [46]:
df_prospects_email = pd.read_csv("prospects-email-super-cleaned.csv")
df_governance_email = pd.read_csv("governance-email-super-cleaned.csv")
print(df_emails_new.columns)
print(df_prospects_email.columns)
print(df_governance.columns)

Index(['Emails', 'cc'], dtype='object')
Index(['Emails', 'cc'], dtype='object')
Index(['EMAILS ', 'cc'], dtype='object')

In [47]:
print("Expected length after concating all should be: ", len(df_emails_new) + len(df_prospects_email) + len(df_governance_email))

Expected length after concating all should be:  220

In [48]:
df_combined = pd.concat([
    df_emails_new[['Emails']], 
    df_prospects_email[['Emails']], 
    df_governance[['EMAILS ']]
], axis=0)
display(df_combined.shape)
print(df_combined.head().to_markdown())

(349, 2)

|    | Emails                   |   EMAILS  |
|---:|:-------------------------|----------:|
|  0 | swakiomaghanga@gmail.com |       nan |
|  1 | nyonesaj12@yahoo.com     |       nan |
|  2 | paulsimiyu74@gmail.com   |       nan |
|  3 | mutiemota@gmail.com      |       nan |
|  4 | velentiah80@yahoo.com    |       nan |

In [49]:
df_combined.dropna(subset=["Emails"], inplace=True)
df_combined["cc"] = "info@ascent-institute.com"
df_combined.head()

                     Emails EMAILS                          cc
0  swakiomaghanga@gmail.com     NaN  info@ascent-institute.com
1      nyonesaj12@yahoo.com     NaN  info@ascent-institute.com
2    paulsimiyu74@gmail.com     NaN  info@ascent-institute.com
3       mutiemota@gmail.com     NaN  info@ascent-institute.com
4     velentiah80@yahoo.com     NaN  info@ascent-institute.com

In [50]:
df_combined["cc"] = "info@ascent-institute.com"
# df_combined.dropna(subset=["EMAILS "], inplace=True)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 74
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Emails   164 non-null    object
 1   EMAILS   0 non-null      object
 2   cc       164 non-null    object
dtypes: object(3)
memory usage: 5.1+ KB

In [51]:
df_combined.drop_duplicates(subset=["Emails"], inplace=True)
df_combined.tail()

,Emails,EMAILS,cc
70,miriam@scopeandimpact.com,NaN,info@ascent-institute.com
71,jkarasha@sanlam.co.ke,NaN,info@ascent-institute.com
72,james.waweru@apainsurance.org,NaN,info@ascent-institute.com
73,manan.desai@apainsurance.org,NaN,info@ascent-institute.com
74,"info@dimkessacco.co.ke , hr@dimkessacco.co.ke",NaN,info@ascent-institute.com

In [54]:
df_combined = df_combined.drop(columns=["EMAILS "])
df_combined.columns

KeyError: "['EMAILS '] not found in axis"

In [55]:
df_combined.to_csv('combined-emails-cleaned.csv', index=False)