In [22]:
import pandas as pd

In [23]:
# Read the CSV file
df = pd.read_csv('/Users/apple/Desktop/Work/Ascent/bulk-email-sender/prospects-email.csv', 
                 skiprows=1,  # Skip the title row
                 usecols=[1,2,3,4],  # Only use columns with actual data
                 names=['COMPANY_NAME', 'DESIGNATION', 'PHONE_NUMBER', 'EMAIL'],  # Define column names
                 na_values=[''])  # Convert empty strings to NaN

# Clean the data
df = df.dropna(subset=['EMAIL'])  # Remove rows without email addresses
df = df.reset_index(drop=True)  # Reset the index

# Display first few rows and basic information
print("First few rows of the dataframe:")
print(df.head().to_markdown())
print("\nDataframe info:")
print(df.info())

First few rows of the dataframe:
|    | COMPANY_NAME    | DESIGNATION                   | PHONE_NUMBER    | EMAIL                       |
|---:|:----------------|:------------------------------|:----------------|:----------------------------|
|  0 | COMPANY NAME    | DESIGNATION                   | PHONE NUMBER    | EMAIL ADRESS                |
|  1 | Bidco Africa    | regional sales head           | +254 67 2821000 | saurabh.suman@bidco-oil.com |
|  2 | CCBA kenya      | country lead-Jennifer mbindyo | (011) 848-2600  | jmbindyo@ccbagroup.com      |
|  3 | CIC Group       | General manager sales         | +254 703 099120 | njerenga@cic.co.ke          |
|  4 | BRITAM HOLDINGS | CHAIRMAN                      | nan             | kmuchiru@britam.com         |

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COMPANY_NAME  89 non-null     object
 1   DESIGNATION   118 non-null    object
 2   PHONE_NUMBER  86 non-null     object
 3   EMAIL         128 non-null    object
dtypes: object(4)
memory usage: 4.1+ KB
None

In [24]:
df = df.iloc[1:].reset_index(drop=True)
df.head()

,COMPANY_NAME,DESIGNATION,PHONE_NUMBER,EMAIL
0,Bidco Africa,regional sales head,+254 67 2821000,saurabh.suman@bidco-oil.com
1,CCBA kenya,country lead-Jennifer mbindyo,(011) 848-2600,jmbindyo@ccbagroup.com
2,CIC Group,General manager sales,+254 703 099120,njerenga@cic.co.ke
3,BRITAM HOLDINGS,CHAIRMAN,NaN,kmuchiru@britam.com
4,LIBERTY INSURANCE,head of customer experience,+254 711 028000,angela.rarieya@libertylife.co.ke

In [25]:
df_prospects_email = df[["EMAIL"]]
df_prospects_email.head()

                              EMAIL
0       saurabh.suman@bidco-oil.com
1            jmbindyo@ccbagroup.com
2                njerenga@cic.co.ke
3               kmuchiru@britam.com
4  angela.rarieya@libertylife.co.ke

In [26]:
df_prospects_email.isna().sum()

EMAIL    0
dtype: int64

In [27]:
df_prospects_email.loc[:, "EMAIL"] = df_prospects_email["EMAIL"].str.strip().str.lower()
df_prospects_email.head()

                              EMAIL
0       saurabh.suman@bidco-oil.com
1            jmbindyo@ccbagroup.com
2                njerenga@cic.co.ke
3               kmuchiru@britam.com
4  angela.rarieya@libertylife.co.ke

In [28]:
df_prospects_email = df_prospects_email.rename(columns={"EMAIL": "EMAILS"})
df_prospects_email.columns

Index(['EMAILS'], dtype='object')

In [30]:
df_prospects_email.duplicated().sum()

np.int64(0)

In [33]:
df_prospects_email["cc"] = "info@ascent-institute.com"
df_prospects_email.head()

                             EMAILS                         cc
0       saurabh.suman@bidco-oil.com  info@ascent-institute.com
1            jmbindyo@ccbagroup.com  info@ascent-institute.com
2                njerenga@cic.co.ke  info@ascent-institute.com
3               kmuchiru@britam.com  info@ascent-institute.com
4  angela.rarieya@libertylife.co.ke  info@ascent-institute.com

In [35]:
df_prospects_email.shape

(127, 2)

In [34]:
df_prospects_email.to_csv('prospects-email-cleaned.csv', index=False)